---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import AboutMe from "../components/sections/AboutMe.astro";
import IntroCard from "../components/sections/IntroCard.astro";
import CVCard from "../components/sections/CVCard.astro";
import Now from "../components/sections/Now.astro";
import TimeZoneCard from "../components/sections/TimeZoneCard.astro";
import ContactsCard from "../components/sections/ContactsCard.astro";
import ExperienceCard from "../components/sections/ExperienceCard.astro";
import BlogCard from "../components/sections/BlogCard.astro";
import StudyCard from "../components/sections/StudyCard.astro";
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";

  const cards = document.querySelectorAll(".card-animate");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Ren Portfolio - Full Stack Developer"
  description="Ly Nhut Tien aka Ren, Fullstack Developer - Porfolio, Projects, CV, About Me, Contact, Experience, Study"
>
  <div>
    <main
      class="relative m-auto grid w-full max-w-6xl gap-2 overflow-hidden p-2 sm:gap-2 sm:p-4 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-cols-4 lg:grid-rows-8 lg:gap-4"
    >
      <IntroCard />
      <AboutMe />
      <CVCard />
      <Now />
      <Card
        colSpan="md:col-span-1"
        rowSpan="md:row-span-2"
        title="Portfolio & Projects"
        href="/portfolio"
      />
      <TimeZoneCard />
      <ContactsCard />
      <ExperienceCard />
      <Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
        <div class="flex h-full flex-col justify-between">
          <blockquote class="mt-6 border-l-2 pl-6 italic">
            “If I have seen further it is by standing on the shoulders of
            Giants.”
          </blockquote>
          <p class="mt-2 text-xs">- Isaac Newton</p>
        </div>
      </Card>
      <BlogCard />
      <StudyCard />
    </main>
  </div>
</Layout>
