---
import { ViewTransitions } from 'astro:transitions'
import Head from '@/components/Head.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

interface Props {
	title?: string;
	description?: string
	ogImage?: URL
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Head title={title} description={description} ogImage={ogImage} />
		<ViewTransitions />
	</head>
	<body class="min-h-screen bg-background font-sans antialiased">
		<div class="flex flex-col items-center justify-center">
			<Header />
			<slog />
			<Footer />
		</div>
	</body>
</html>
